.track {
    background-color: rgba(68, 0, 164, 0.75);
    text-align: left;
    padding: 0.5rem;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(123, 123, 123, 0.5);
    max-height: 5.5rem;
    overflow: hidden;
}

.track h3,
.track h4 {
    margin:0.25rem;
}

/* .track-info {
     float: left; 
} */

.move-button {
    /* float: right; */
    /* height:100%; */
    /* display:flex; */
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 1.5rem;
    /* line-height: 2rem; */
    margin-right: 0.5rem;
    cursor: pointer;
    user-select: none;
    /* text-align: center; */
}