.tracklist-container {
    height: calc(100% - 8.5rem);
}

.tracklist {
    /* border:0.125rem solid #670afd80; */
    width:100%;
    max-height:100%;
    overflow-y:scroll;
    border-collapse: collapse;
}